/* Import fontface for Satoshi-Variable */
@font-face {
    font-family: 'Satoshi-Variable';
    src: url('/static/fonts/Satoshi-Variable.ttf') format('truetype');
    font-style: normal;
}

:root {
    --white: #f4f4f4;
    --black: #0b0b0b;
    --primary: #DCBBFF;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: 'Satoshi-Variable';
    font-size: 16px;
    background-color: var(--black);
    color: var(--white);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1800px;
    padding: 0 2.2em;
}

.root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.name-box {
    border-radius: 2.5rem;
    padding: 0 1.6rem;
    background-color: #1f181f;
    display: inline-block;
}

.text-main {
    color: var(--primary);
    font-size: 6em;
    font-weight: 810;
}

.text-sub {
    color: rgba(255, 255, 255, 0.3);
    font-size: 6em;
    font-weight: 375;
}

.paragraph {
    font-size: 1.6rem;
    margin: 0 1rem;
    font-weight: 420;
}

.media {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1.5rem 1rem;
    color: var(--white);
}

.media > a {
    color: inherit;
}

.presentation-box {
    width: 60em;
}

.time {
    padding: 1.4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #5b5b5b;
}

#time {
    font-size: 1.2rem;
    font-weight: 500;
}

.picture-box {
    width: auto;
    height: auto;
    margin-left: auto;
}

#profile-picture {
    margin: 0 24px;
    width: 100%;
    height: 100%;
    max-width: 32rem;
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s forwards;
}

@keyframes fadeInAnimation {
    to {
        opacity: 1;
    }
}

@media (max-width: 1300px) {
    .picture-box {
        display: none;
    }
}

@media (max-width: 800px) {
    .root {
        flex-direction: column;
        justify-content: flex-start;
    }

    body {
        padding: 0;
    }

    .name-box {
        font-size: 50%;
        width: 100%;
        text-align: center;
        border-radius: 0;
        padding: 0;
    }

    .paragraph {
        font-size: 1.4rem;
    }

    .presentation-box {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .media {
        justify-content: center;
    }

    .picture-box {
        margin: 0;
        display: none;
    }
}
