/* Import fontface for Satoshi-Variable */
@font-face {
    font-family: 'Satoshi-Variable';
    src: url('/static/fonts/Satoshi-Variable.ttf') format('truetype');
    font-style: normal;
}

:root {
    color-scheme: dark;

    --white: #f4f4f4;
    --black: #0b0b0b;
    --primary: #d8acff;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

* {
    -webkit-font-smoothing: antialiased;
    font-synthesis: none !important;

}

body {
    font-family: 'Satoshi-Variable';
    font-size: 16px;
    background-color: var(--black);
    color: var(--white);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2.2em;
}

.root-index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1800px;
}

.name-box {
    border-radius: 2.5rem;
    padding: 0 1.6rem;
    background-color: #1f181f;
    display: inline-block;
}

.text-main {
    color: var(--primary);
    font-size: 6em;
    font-weight: 810;
}

.text-sub {
    color: rgba(255, 255, 255, 0.3);
    font-size: 6em;
    font-weight: 375;
}

.paragraph {
    font-size: 1.6rem;
    margin: 0 1rem;
    font-weight: 420;
}

.media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 1.6rem;
    row-gap: 0;
    padding: 1.5rem 1rem;
    color: var(--white);
}

.media > a {
    color: inherit;
    font-size: 1.2rem;
    font-weight: 500;
}

.media > p {
    color: inherit;
    font-weight:bold;
    font-size: 1.6rem;
}

.media > p > a {
    color: inherit;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.6rem;
    margin-top: -5rem;
    padding: 1.5rem 1rem;

    color: var(--white);
}

.projects > a {
    color: inherit;
    font-size: 1.2rem;
    font-weight: 500;
}

.projects > p {
    font-weight:bold;
    font-size: 1.6rem;
    margin-left: 24px;
}

.presentation-box {
    width: 60em;
}

.time {
    padding: 1.4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #7f7f7f;
}

#time {
    font-size: 1.2rem;
    font-weight: 500;
}

.picture-box {
    width: auto;
    height: auto;
    margin-left: auto;
}

#profile-picture {
    margin: 0 24px;
    width: 100%;
    height: 100%;
    max-width: 32rem;
}

/* .fade-in {
    opacity: 0;
    animation: fadeInAnimation 2s forwards;
} */

/* @keyframes fadeInAnimation {
    to {
        opacity: 1;
    }
} */

.fade-in {
    animation: fade-in 1s ease;
}
  
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.98, 0.98);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@media (max-width: 1300px) {
    .picture-box {
        display: none;
    }
}

@media (max-width: 800px) {
    .root-index {
        flex-direction: column;
        justify-content: flex-start;
    }

    body {
        padding: 0;
    }

    .time {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .name-box {
        font-size: 50%;
        width: 100%;
        text-align: center;
        border-radius: 0;
        padding: 0;
    }

    .info {
        padding: 0 0.4rem;
        height: 100%;
        /* vertical center */
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .paragraph {
        font-size: 1.4rem;
    }

    .presentation-box {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .text-main {
        font-weight: 750;
    }

    .media {
        justify-content: center;
    }

    .picture-box {
        margin: 0;
        display: none;
    }
}
