<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/90581a28ff.js" crossorigin="anonymous"></script>
    <script src="/static/js/time.js" defer></script>
    <link rel="stylesheet" href="/static/style.css">
    <title>showdown.boo</title>
</head>
<body>
    <main class="root fade-in">
        <section class="presentation-box">
            <div class="name-box">
                <p style="white-space:nowrap;">
                    <span class="text-main">showdown</span>
                    <span class="text-sub">.boo</span>
                </p>
            </div>
            <div class="time">
                <i class="fa-solid fa-globe"></i>
                <a id="time">--:--</a>
                <a>(Europe/Paris)</a>
            </div>
            <p class="paragraph">
               french student in computer science, i like to code—mainly in Python. i'm currently learning Rust. i'm also interested in cybersecurity and AI. feel free to contact me on Discord or send me an email (me@showdown.boo).
           </p>
            <div class="media">
                <a href="https://discord.com/users/901809620165722112"><i class="fa-brands fa-discord fa-xl"></i></a>
                <a href="https://github.com/Showdown76py"><i class="fa-brands fa-github fa-xl"></i></a>
                <a href="https://instagram.com/showw76"><i class="fa-brands fa-instagram fa-xl"></i></a>
                <a href="https://steamcommunity.com/profiles/76561198362780831/"><i class="fa-brands fa-steam fa-xl"></i></a>
                <a href="mailto:me@showdown.boo"><i class="fa-solid fa-envelope fa-xl"></i></a>
            </div>
        </section>
        <aside class="picture-box">
            <img id="profile-picture" src="/static/image.png" alt="Profile Picture" />
        </aside>
    </main>
</body>
</html>
