<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/90581a28ff.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/projects.css">
    <title>showdown.boo - Projects</title>

    <meta property="og:title" content="showdown.boo - Projects">
    <meta property="og:description" content="french student in computer science, i like to code—mainly in Python. i'm currently learning Rust. i'm also interested in cybersecurity and AI. feel free to contact me on Discord or send me an email (me@showdown.boo).">
    <meta property="og:image" content="/static/image.png">
    <meta property="og:url" content="https://showdown.boo">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#d8acff">
</head>
<body class="{{ theme if theme else "dark-theme" }}">
    <div class="theme-button">
        <i id="theme-toggle-btn" class="fa-solid fa-moon"></i>
    </div>
    <script src="/static/js/theme.js"></script>
    <main class="root-projects fade-in">
        <section class="presentation-box">
            <a id="back" onclick="window.history.back()"><i class="fa-solid fa-arrow-left"></i></a>
            <div onclick="window.location.href='/'" class="name-box">
                <p style="white-space:nowrap;">
                    <span class="text-main">showdown</span>
                    <span class="text-sub">.boo</span>
                </p>
            </div>
        </section>
        <section class="projects">
            <h1>Projects</h1>
            <h2>Currently maintained</h2>
            <div class="project-box">
                <div class="project hover-s" id="copeai">
                    <img class="project-img" src="https://cdn.discordapp.com/avatars/1213595981271277598/4512bd6844cde532987c8615784883a8.webp?size=1024">
                    <div class="project-details">
                        <p class="project-title">CopeAI</p>
                        <p class="project-description">Discord server that allows anyone to use most recent OpenAI models such as GPT-4o for free with low restrictions. Also has its own way to browse the web, independently from OpenAI.</p>
                        <footer><a target="_blank" rel="noopener noreferrer" class="nke" href="https://discord.com/invite/6hkfnH9wuH">Join Discord Server →</a></footer>
                    </div>
                </div>

                <div class="project hover-s" id="myai">
                    <img class="project-img" src="https://cdn.discordapp.com/avatars/1167188276013170778/c2c5aaaebddc39d2fb00e0419c1c699d.webp?size=1024">
                    <div class="project-details">
                        <p class="project-title">MyAI</p>
                        <p class="project-description">Just like CopeAI, this allows you to access GPT-4o for free. Inspired from Snapchat's AI chatbot, you can have an infinite conversation with them directly in your DMs.</p>
                        <footer><a target="_blank" rel="noopener noreferrer" class="nke" href="https://discord.com/invite/6hkfnH9wuH">Join Discord Server →</a></footer>
                    </div>
                </div>
            </div>
            <h2>Archived</h2>
            <div class="project-box">
                <div class="project hover-s" id="univers-protect">
                    <div class="project-details">
                        <p class="project-title">Univers Account Protector for Discord</p>
                        <p class="project-description">This project would connect on your Discord account and monitor any suspicious spam DMs, then warn you directly by text message.</p>
                        <footer><a target="_blank" rel="noopener noreferrer" class="nke" href="https://github.com/Showdown76py/discord-protector/">View GitHub Project →</a></footer>
                    </div>
                </div>
                <div class="project hover-s" id="teslaoverdiscord">
                    <div class="project-details">
                        <p class="project-title">Tesla Over Discord</p>
                        <p class="project-description">Check charging conditons, temperature and make your Tesla fart through Discord. CAUTION: this is not recommended and risky.</p>
                        <footer><a target="_blank" rel="noopener noreferrer" class="nke" href="https://github.com/Showdown76py/tesla-over-discord/">View GitHub Project →</a></footer>
                    </div> 
                </div>
        </section>
    </main>
</body>
</html>
